.container{
    padding:2rem 3rem;
    background-color: #e5e2f0;
}
.box{
    display: flex;
    border-radius: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 37px;

}


 

.right{
    padding:0 2rem;
    font-size: larger;
}

.campustour_feed_info{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: x-large;
}